h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: chartreuse;
    text-align: center;
}
h2 {
    font-size: 36px;
    color: lightblue;
    text-align: center;
}
ul {
    font-size: 30px;
    line-height: 40px;
}
ol {
    font-size: 30px;
    line-height: 40px;
}
p {
    font-size: 30px;
}
body {
    background-color: chocolate;
}